<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136062972289-m3hmuij2usfs075hda7boigflhaab3ce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136062972289-m3hmuij2usfs075hda7boigflhaab3ce</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>136062972289-fq0dsg134ktemcnf6lhcvi483npo5a30.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQB5qaflWzjDYS-YupZeMFM_HaMehdi40</string>
	<key>GCM_SENDER_ID</key>
	<string>136062972289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Dtag.Shanab</string>
	<key>PROJECT_ID</key>
	<string>shanp-d168c</string>
	<key>STORAGE_BUCKET</key>
	<string>shanp-d168c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136062972289:ios:107f15be136da0c463b880</string>
	<key>DATABASE_URL</key>
	<string>https://shanp-d168c.firebaseio.com</string>
</dict>
</plist>